.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6rem;
    z-index: 10;
    font-size: 1.5rem;

    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: end;
    .main-list{
        display: flex;
        gap: 25px;
        list-style: none;
        font-weight: 500;
        margin: 13px 110px;
        font-size: 15px;
        li{
            cursor: pointer;
        }
    }
}
.position-relative
{
    position: relative;
    color: honeydew;
}
.sub-menus {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 2;
    .sub-menu {
        max-width: 1286px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 265px;
        border-radius: 32px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px #C3C3C3;
        padding: 65px 60px;
        display: flex;
        justify-content: space-between;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    .li-heading {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        list-style: none;
        margin-bottom: 20px;
    }
    .li-sub-heading {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        list-style: none;
        cursor: pointer;
        &:hover{
            font-size: 15px;
            transition: 0.2s;
        }
    }

}

.sub-menus2 {
    position: absolute;
    top: 50px;
    right: 220px;
    z-index: 2;
    .sub-menu2 {
        max-width: 234px;
        width: 100%;
        height: 339px;
        border-radius: 32px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px #C3C3C3;
        padding: 65px 60px;
        display: flex;
        justify-content: space-between;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    .li-heading {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        list-style: none;
        margin-bottom: 20px;
    }
    .li-sub-heading {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        list-style: none;
        cursor: pointer;
        &:hover{
          font-size: 15px;
            transition: 0.2s;
        }
    }
}

.sub-menus3 {
    position: absolute;
    top: 50px;
    right: 116px;
    z-index: 2;
    .sub-menu3 {
        max-width: 200px;
        width: 100%;
        height: 265px;
        border-radius: 32px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px #C3C3C3;
        padding: 65px 60px;
        display: flex;
        justify-content: space-between;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    .li-heading {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        list-style: none;
        margin-bottom: 20px;
    }
    .li-sub-heading {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        list-style: none;
        cursor: pointer;
        &:hover{
            font-size: 15px;
            transition: 0.2s;
        }
    }
}



.sub-menus4 {
    position: absolute;
    top: 50px;
    right: 80px;
    
    z-index: 2;
    .sub-menu4 {
        max-width: 200px;
        width: 100%;
        height: 265px;
        border-radius: 32px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px #C3C3C3;
        padding: 65px 60px;
        display: flex;
        justify-content: space-between;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    .li-heading {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        list-style: none;
        margin-bottom: 20px;
    }
    .li-sub-heading {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        list-style: none;
        cursor: pointer;
        &:hover{
            font-size: 15px;
            transition: 0.2s;
        }
    }
}