<section class="our-teams">
  <h1 class="our-teams__title">Meet our Frontline Team</h1>
  <div class="text-team">
    <p>At GoGIS, we take pride in our commitment to customer satisfaction. Through dedication, expertise, and strong customer focus, we help our clients achieve success, and build lasting partnerships that drive mutual growth and value. If you are looking for a partner who truly understands your business and is committed to your success, we are here to help.</p>
  </div>

  <div class="profile" *ngFor="let profile of teamCards let i = index">

    <div *ngIf="i%2 !== 0" class="profile__avatar">
      <div class="profile__avatar-img">
        <img [src]="profile.avatar" alt="profile avatar">
      </div>
    </div>

    <div class="profile__details">
      <h3 class="profile__details-full-name">{{profile.name}}</h3>
      <h4 class="profile__details-job">{{profile.designation}}</h4>
      <p class="profile__details-desc">{{profile.bio}}</p>
    </div>


    <div  class="profile__avatar">
      <div class="profile__avatar-img">
        <img [src]="profile.img" alt="profile avatar">
      </div>
      <div class="profile__social">
        profile__social
      </div>
    </div>

  </div>
</section>