<div>
  <nav class="navbar navbar-expand-lg custom-header p-4">
    <div class="container">
      <a href="#" class="navbar-brand header-logo app-header__logo">
        <!-- <img [src]="imagePaths.logo" alt=""> -->
        <img src="assets/images/home-page-logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 header-navbar">
          <li class="nav-item header-item has-children">
            <a class="nav-link header-link active" aria-current="page">Technologies <i class="fas fa-chevron-down"></i></a>
            <div class="megamenu-header new-head">
                <div class="row">
                    <div class="col-md-3">
                      <div>
                        <h3 class="dropdown-heading">Google</h3>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li routerLink="/google-maps">
                              <a  class="dropdownlink">Map</a>
                          </li>
                          <li routerLink="/google-workspace">
                              <a  class="dropdownlink">Workspace</a>
                          </li>
                          <li routerLink="/google-cloud">
                              <a  class="dropdownlink">Cloud</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h3 class="dropdown-heading">HERE Technologies</h3>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li class="" routerLink="/here">
                              <a  class="dropdownlink">Online</a>
                          </li>
                          <li>
                              <a class="dropdownlink">Offline content</a>
                          </li>
                          <li>
                              <a class="dropdownlink">On-premise</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h3 class="dropdown-heading">TomTom</h3>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li>
                              <a class="dropdownlink">Real-Time Traffic</a>
                          </li>
                          <!-- <li>
                              <a class="dropdownlink">Data</a>
                          </li> -->
                          <li>
                              <a class="dropdownlink">Cloud</a>
                          </li>
                        </ul>
                      </div>


                      <div>
                        <h3 class="dropdown-heading added-new">Carto</h3>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li>
                              <a class="dropdownlink">Online</a>
                          </li>
                          <!-- <li>
                              <a class="dropdownlink">Data</a>
                          </li> -->
                          <li>
                              <a class="dropdownlink">On-premise</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div>
                        <h3 class="dropdown-heading">Thermopylae Sciences & Technologies</h3>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li>
                              <a class="dropdownlink">Google Earth Enterprise Platform</a>
                          </li>
                        </ul>
                      </div>

                      <div>
                        <h3 class="dropdown-heading added-new">Mapbox</h3>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li>
                              <a class="dropdownlink">Online</a>
                          </li>
                          <li>
                            <a class="dropdownlink">Atlas</a>
                        </li>
                        </ul>
                      </div>

                    </div>
                </div>
            </div>
          </li>
          <li class="nav-item header-item has-children">
            <a class="nav-link header-link">Data Providers <i class="fas fa-chevron-down"></i></a>
              <div class="megamenu-header megamenu-inline">
                <div class="row">
                    <div class="col-md-12">
                      <div>
                        <ul  class="mb-0 ps-0 dropdown-listing">
                          <li>
                              <a class="dropdownlink">Maxar</a>
                          </li>
                          <li>
                              <a class="dropdownlink">Planet</a>
                          </li>
                          <li routerLink="/tomtom">
                              <a  class="dropdownlink">TomTom </a>
                          </li>
                          <li>
                              <a class="dropdownlink">HERE Technologies </a>
                          </li>
                          <li routerLink="/carto">
                              <a  class="dropdownlink">Carto </a>
                          </li>
                          <li>
                              <a class="dropdownlink">Mapbox </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
          </li>
          <li class="nav-item header-item has-children">
            <a class="nav-link header-link">Solutions <i class="fas fa-chevron-down"></i></a>
            <div class="megamenu-header megamenu-inline">
              <div class="row">
                  <div class="col-md-12">
                    <div>
                      <ul  class="mb-0 ps-0 dropdown-listing">
                        <li>
                            <a class="dropdownlink">Online API's & Services Reseller of Global Providers</a>
                        </li>
                        <li>
                            <a class="dropdownlink">On-premise for closed networks</a>
                        </li>
                        <li>
                            <a class="dropdownlink">offline from our data providers</a>
                        </li>
                        <li>
                          <a class="dropdownlink">Indoor Mapping</a>
                      </li>
                      <li>
                        <a class="dropdownlink">Complete tailor made solutions</a>
                    </li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
          </li>
          <li class="nav-item header-item has-children">
            <a class="nav-link header-link" href="#">Services we offer <i class="fas fa-chevron-down"></i></a>
            <div class="megamenu-header megamenu-inline">
              <div class="row">
                  <div class="col-md-12">
                    <div>
                      <ul  class="mb-0 ps-0 dropdown-listing">
                        <li>
                            <a  class="dropdownlink">Consulting</a>
                        </li>
                        <li>
                          <a class="dropdownlink">Development</a>
                      </li>
                      <li>
                        <a class="dropdownlink">Processing</a>
                      </li>
                      <li>
                        <a class="dropdownlink">Training</a>
                      </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
          </li>



          <!-- <li class="nav-item header-item">
            <a class="nav-link header-link" href="#">Services we offer</a>
          </li> -->









          <li class="nav-item header-item has-children">
            <a class="nav-link header-link" href="#">Events <i class="fas fa-chevron-down"></i></a>
            <div class="megamenu-header megamenu-inline">
              <div class="row">
                  <div class="col-md-12">
                    <div>
                      <ul  class="mb-0 ps-0 dropdown-listing">
                        <li routerLink="/upcoming-events">
                            <a  class="dropdownlink">Upcoming events</a>
                        </li>
                        <!-- <li>
                          <a class="dropdownlink">Past events</a>
                      </li> -->
                      <li>
                        <a class="dropdownlink">Webinars</a>
                      </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
          </li>
          <li class="nav-item header-item has-children">
            <a class="nav-link header-link" href="#">Resources <i class="fas fa-chevron-down"></i></a>
            <div class="megamenu-header megamenu-inline">
              <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div>
                          <h3 class="dropdown-heading">Open Sources</h3>
                          <ul  class="mb-0 ps-0 dropdown-listing">
                            <li routerLink="/google-maps">
                                <a  class="dropdownlink">Cesium</a>
                            </li>
                            <li routerLink="/google-workspace">
                                <a  class="dropdownlink">QGIS</a>
                            </li>
                            <li routerLink="/google-cloud">
                                <a  class="dropdownlink">Leaflet</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div>
                          <h3 class="dropdown-heading">DEMO SITES</h3>
                          <ul  class="mb-0 ps-0 dropdown-listing">
                            <li routerLink="/google-maps">
                                <a  class="dropdownlink">Here Navigation Demo</a>
                            </li>
                            <li routerLink="/google-workspace">
                                <a  class="dropdownlink">Carto Demo Site</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- <ul  class="mb-0 ps-0 dropdown-listing">
                        <li>
                            <a class="dropdownlink">Open Sources </a>
                        </li>
                        <li>
                          <a class="dropdownlink">DEMO SITES
                          </a>
                        </li>
                      </ul> -->
                    </div>
                  </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>