<app-navbar></app-navbar>

<div class="main-div">
    <div class="sub-div">
        <div class="img-div">
            <img src="assets/gmail.png" class="g-cloud" alt="">
            <img src="assets/calender.png" class="g-cloud" alt="">
            <img src="assets/drive.png" class="g-cloud" alt="">
            <img src="assets/doc.png" class="g-cloud" alt="">
            <img src="assets/meet.png" class="g-cloud" alt="">
        </div>
        <h1 class="main-tittle">Google Workspace Platform</h1>
        <button (click)="openContactModal()" class="contact-sales">
            Contact us
        </button>
    </div>

    <section class="work_space_collection">
        <div class="container">
            <h2 class="text-center">Google Workspace is a collection of cloud computing, productivity and collaboration tools, software and products</h2>
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <p>Reimagine how businesses work by powering teams to be faster, smarter, and more collaborative than ever before. A cloud-native solution that delivers seamless, real-time collaboration, powerful search, and proactive security tools using the scale of Google.<br><i class="mt-4 d-block">Secure by design. Transforming the way you work</i><br> Google Workspace enables a hybrid work experience that enhances collaboration, strengthens human connection, and increases well-being for your employees—wherever they are and however they work. <br> <b class="mt-4 d-block">Let us help you grow your business and keep your team connected and productive from anywhere.</b></p>
                </div>

                <div class="col-md-6">
                    <img src="assets/Google-Workspace-montage.jpg" class="work-img w-100" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="why_us">
        <div class="container">
          <h3>Why choose us as a partner?</h3>
          <p>GoGIS is an well-known and established expert in Cloud technologies in this region. Work with us and at the same time, continue to
            maintain the communication directly with Google while enjoying the following benefits:</p>
          <div class="row mt-5">
            <div class="col-md-6">
                <div class="about_img">
                    <img src="assets/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 p-5">
              <h3>Advantages of Working with us:</h3>
              <ul>
                <li>We offer valuable insights, best practices, and personalized recommendations tailored to your specific business needs.</li>
                <li>Support and customization of Google Workspace to suit your specific business requirements. Choosing the right combination of tools and features ensures that you get the most out of the platform.</li>
                <li>Flexible licensing and pricing options, tailoring plans to suit your organization's size and budget. This ensures cost-effectiveness and scalability as your business grows.</li>
                <li>With a single point of contact for all your Google-related needs. This streamlines processes and saves time.</li>
                <li>Availability in your hours and in your language! Meet face-to-face or on-line.</li>
                <li>Ongoing support for the life of the account.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
</div>
