
<app-navbar></app-navbar>

<section class="top_headBanner text-center">
    <div class="container">
        <img src="https://www.gogis.co.il/assets/img/here.svg" class="g-cloud" alt="">
        <h1 class="main-tittle">HERE Technologies</h1>
        <p>As a HERE Technologies Partner, we are experienced in implementation and maximising performance</p>
    </div>
</section>

<section class="technologies_review">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>2M+ <span>Developers in our Ecosystem</span></h4>
            </div>
            <div class="col-md-3">
                <h4>100b+ <span>API/calls Month</span></h4>
            </div>
            <div class="col-md-3">
                <h4>34m <span>Connected vehcle supply base</span></h4>
            </div>
            <div class="col-md-3">
                <h4>200+ <span>Countries & Territories covered</span></h4>
            </div>
        </div>
    </div>
</section>

<section class="here-define">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h2 class="mb-5">HERE Technologies</h2>
                <p class="mb-5">HERE Technologies is a location data and technology company that created the first digital map over 35 years ago. Today HERE is the world's leading location platform company with a global footprint across 52 countries with a strong presence in the automotive industry, and with leading companies across a wide range of industries, including transport and logistics, mobility, manufacturing and retail and the public sector.</p>
                <ul>
                    <li>HERE Maps & Data</li>
                    <li>HERE Services</li>
                    <li>HERE Tools</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="assets/heretech.jpg" class="img-b" alt="">
            </div>
        </div>
    </div>
</section>

<section class="here-tabination">
    <div class="container">
        <mat-tab-group mat-align-tabs="center" class="hello">

            <!-- Maps & Data tab -->

            <mat-tab label=" Maps & Data"> 
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img class="img-g" src="assets/mapsdata.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="head">Maps & Data</h2>
                        <p class="build">Use and build high-quality maps</p>
                        <ul>
                            <li>
                                <h3 class="Maps">Maps</h3>
                                <p class="des">Access industry-leading maps powered by millions of data sources and with over 1,000 attributes.
                                    /platform/map-data</p>
                            </li>
                            <li>
                                <h3 class="Dynamic">Dynamic Maps</h3>
                                <p class="uti">Utilize dynamic datasets such as hazard alerts and variable speed signs from vehicle sensor data and infrastructural sources./platform/dynamic-map-content</p>
                            </li>
                        </ul>
                    </div>
                </div>
             </mat-tab>

             <!-- Location Services tab -->

            <mat-tab label="Location Services" class="loc">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h2 class="head">Location Services</h2>
                        <ul>
                            <li>
                                <h3 class="route">HERE Routing</h3>
                                <p class="des">Create connected journeys for fleets, passengers and businesses with advanced algorithms./platform/routing</p>
                            </li>
                            <li>
                                <h3 class="geo">HERE Geocoding & Search</h3>
                                <p class="des">Improve location accuracy and context with precise conversion and discovery of geocoordinates and addresses.
                                    /platform/geocoding</p>
                            </li>
                            <li>
                                <h3 class="geo">HERE Map Rendering</h3>
                                <p class="des">Render daily updated, accurate and comprehensive geospatial data to suit your business needs.
                                    /platform/map-rendering</p>
                            </li>
                            <li>
                                <h3 class="geo">HERE Positioning</h3>
                                <p class="des">Bring high-precision location awareness to your apps and devices, even in challenging indoor or outdoor environments. /platform/positioning </p>
                            </li>
                            <li>
                                <h3 class="geo">HERE Tour Planning</h3>
                                <p class="des"> Improve how you utilize your fleet with many-to-many route planning and customizable, en route optimization.`</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img class="img-l" src="assets/location.jpg" alt="">
                    </div>
                </div>
            </mat-tab>

             <!-- Tools Tab -->

            <mat-tab label="Tools">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img class="img-t" src="assets/tools.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="head">Tools</h2>
                        <ul>
                            <li>
                                <h3 class="route">HERE Studio</h3>
                                <p class="des">Edit data in real-time to create maps faster and run large datasets in the cloud for instant viewing.
                                    /platform/studio</p>
                            </li>
                            <li>
                                <h3 class="geo">HERE SDK</h3>
                                <p class="des">Integrate location features into your apps when online or offline, using pre-built UIs and personalization options./platform/here-sdk</p>
                            </li>
                            <li>
                                <h3 class="geo">HERE Live Sense SDK</h3>
                                <p class="des">Transform camera-enabled devices into hazard awareness sensors for drivers with an AI-powered SDK.
                                    /platform/live-sense-sdk</p>
                            </li>
                        </ul>


                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>