<app-navbar></app-navbar>

<section class="top_headBanner text-center">
    <div class="container">
        <img src="assets/newtom.png" class="g-cloud" alt="">
        <button (click)="openContactUsDialog()"  class="contact-sales">
            Contact us
        </button>
        <p>It takes the world to map the world.</p>
        </div>
</section>
<div class="tom-abt">
    <p>
        TomTom is a renowned global leader in navigation and location-based services, providing innovative solutions to help individuals and businesses navigate their world. With cutting-edge GPS technology, real-time traffic information, and mapping services, TomTom empowers users to reach their destinations efficiently and confidently. Explore our website to discover how TomTom's products and services can enhance your daily journeys and business operations.
    </p>
</div>

<div class="vid">
    <iframe width="860" height="485" src="https://www.youtube.com/embed/03BpCMJomgU?si=p_W125gM3oMxeyTa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>



