<p *ngIf="cardTag" class="slide-card__tag"> {{cardTag}}</p>

<div *ngIf="cardTitle" class="slide-card__details">
    <h3 class="slide-card__title">{{cardTitle}}</h3>

    <p class="slide-card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam dicta quis veritatis accusantium in. Unde, iure
        fugit deleniti provident quo, architecto laboriosam quibusdam </p>
</div>

<div *ngIf="cardTitle" class="slide-card__expend">
    Learn About Navigition SDK
    <i class="material-icons">chevron_right</i>

</div>