<section class="about_home">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="about_img">
                    <img src="assets/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 px-md-5">
                <h2 class="headingsec">About GoGIS</h2>
                <p class="normalDesc">We collaborate with Global Leading Companies to meet customer geospatial needs either online or on-premise to support and improve productivity.</p>
                <p class="normalDesc">Our business is Maps APIs and GIS Data. We represent Google Maps Platform, Here Technologies, TomTom, Mapbox, Indoor Mapping with MapsPeople, Carto and GEEP with Thermopylae, Data from Maxar, Planet and more. We also offer Productivity & Collaboration with Google Workspace and Google Cloud Products.<br>We provide full implementation support for on-premise solutions and customize services to meet client requirements. <i>Customer focused, we strive to exceed any expectation and to continue surprising our clients with the best experience.</i>
                </p>
                <a (click)="openContactModal()" class="custom_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>