.banner {
    width: 100%;
    min-height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
}
@media screen and (max-width: 800px) {
    .banner {
        height: 100vh;
    }
}

.banner__background{
    background-image: url('../../../assets/images/landscape.jpg');
}