<div>
  <!-- <h1>hi</h1> -->
  <ul>
    <li *ngFor="let i of subItems">
      <app-navbar-sub-item [subItem]="i"></app-navbar-sub-item>
    </li>
  </ul>
</div>

<!-- <div class="navbar-dropdown" [ngClass]="{'mobile': displayMode === NavbarDisplayMode.Mobile}">
   
  <app-navbar-sub-item *ngFor="let i of subItems" [subItem]="i" [displayMode]="displayMode"></app-navbar-sub-item>
</div> -->
















<!-- <div class="nav_drop_custom">
  <h3>HERE Technologies</h3>
  <ul>
    <li *ngFor="let i of subItems">
      <app-navbar-sub-item [subItem]="i"></app-navbar-sub-item>
    </li>
  </ul>
</div>
<div class="nav_drop_custom">
  <h3>TomTom</h3>
  <ul>
    <li *ngFor="let i of subItems">
      <app-navbar-sub-item [subItem]="i"></app-navbar-sub-item>
    </li>
  </ul>
</div>
<div class="nav_drop_custom">
  <h3>Thermopylae Sciences & Technologies</h3>
  <ul>
    <li *ngFor="let i of subItems">
      <app-navbar-sub-item [subItem]="i"></app-navbar-sub-item>
    </li>
  </ul>
</div> -->


<!-- <div class="navbar-dropdown" [ngClass]="{'mobile': displayMode === NavbarDisplayMode.Mobile}">
   
  <app-navbar-sub-item *ngFor="let i of subItems" [subItem]="i" [displayMode]="displayMode"></app-navbar-sub-item>
</div> -->