.carousel {
    margin-top: 15rem;
    width: 80vw;
    height: 40rem;
    margin-bottom: 15rem;
    padding: 0;
    position: relative;

    &__container {
        list-style: none;
        height: 100%;
        display: flex;
        transform: translateX(-30rem);
        transition: transform 0.5s ease-in-out;
    }
}


    
.hero-slider {
    .slider_content {
        max-width: 950px;
        margin: 0 auto;
        padding:40px;
        background-color: #00000057;
        border-radius: 6px;
        backdrop-filter: blur(8px);
        h5 {
            background: #2069b2;
            display: inline-block;
            padding: 2px 12px;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            border-radius: 50px;
            margin-bottom: 20px;
            font-weight: 500;
            width: 300px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;

        }
        h2 {
            font-size: 42px;
            color: #fff;
            margin-bottom: 10px;
            width: 300px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            height: 100px;
        }
        p {
            color: #fff;
            font-size: 18px;
            margin-bottom:30px;
            line-height: 26px;
            width: 300px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        a {
            font-size: 18px;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            padding: 10px 30px;
            background: #fff;
            color: #000;
            border-radius: 8px;
            transition: 0.4s ease-in-out;
            border: 1px solid #fff;
            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }
}

.hero-slider {
    margin-right: 15px; /* Adjust the right margin to set the desired gap */
  }
  
  .slick-center {
    transform: scale(1.2); /* Adjust the scale factor for the center slide */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }