<section class="companies">
  <p>
    Companies represented by GOGIS
  </p>

  <ul class="logo-row">


    <!-- google cloud -->
    <li>
      <a href="https://cloud.google.com/" target="_blank">
        <img src="assets/images/google-cloud.png" class="google-img" alt="google cloud">
        <p style="text-align:center;"> Google <br> Cloud </p>
      </a>

    </li>

    <!-- google maps -->
    <li>
      <a href="https://mapsplatform.google.com/" target="_blank">
        <img src="assets/images/google-maps-platform.svg" class="google-img" alt="">     
        <p style="text-align:center;"> Google <br> maps platform </p>
      </a>
    </li>


    <!--  google workspace -->
    <li>
      <a href="https://workspace.google.com/intl/en/" target="_blank">
        <img src="assets/images/workspace.svg" class="workshop-img" alt="">   
      </a>
    </li>

    <!-- Here -->
    <li>
      <a href="https://www.here.com/" target="_blank">
        <img src="assets/images/here.svg" alt="">  
      </a>
    </li>


    <!-- Mapbox -->
    <li>
      <a href="https://www.mapbox.com/" target="_blank">
        <img src="assets/images/mapbox.svg" alt="">  
      </a>
    </li>


    <!-- mapsindoors -->
    <li>
      <a href="https://www.mapspeople.com/mapsindoors/" target="_blank">
        <img src="assets/images/mapsindoors.svg" alt="">  
      </a>
    </li>


    <!-- Thermopylae -->
    <li>
      <a href="https://www.t-sciences.com/" target="_blank">
        <img src="assets/images/thermopylae.png" alt="">  
      </a>
    </li>


    <!-- Carto -->
    <li>
      <a href="https://carto.com/" target="_blank">
        <img src="assets/images/carto.svg" alt=""> 
      </a>
    </li>


    <!-- hexagon -->
    <li>
      <a href=" https://tomtom.com/" target="_blank">
        <img src="assets/newtom.png" alt="">
      </a>
    </li>


    <!-- planet -->
    <li>
      <a href="https://www.planet.com/" target="_blank">
        <img src="assets/images/planet.png" alt="">
      </a>
    </li>


  </ul>
</section>