<app-navbar></app-navbar>

<section class="upcomingEvents">
    <div class="container">
        <h2>Register to event</h2>
        <div class="row d-flex align-items-center">
            <div class="col-md-6 p-5">
                <div class="img-wrap">
                    <img [src]="eventIMG || 'assets/events.png'" alt="" class="mt-5">
                </div>
            </div>

            <div class="col-md-6">
                <form  [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                  
                    <label><input type="text" class="event-input" formControlName="eventname" placeholder="Event">
                        <div *ngIf="eventForm.get('eventname').touched && eventForm.get('eventname').hasError('required')" class="error-message">
                            Event is required.
                          </div>
                    </label>
                    <label><input type="text" class="event-input" formControlName="firstname" placeholder="First Name">
                        <div *ngIf="eventForm.get('firstname').touched && eventForm.get('firstname').hasError('required')" class="error-message">
                            First Name is required.
                          </div>
                    </label>
                    <label><input type="text" class="event-input" formControlName="lastname" placeholder="Last Name">
                        <div *ngIf="eventForm.get('lastname').touched && eventForm.get('lastname').hasError('required')" class="error-message">
                            Last Name is required.
                          </div>
                    </label>
                    <label><input type="text" class="event-input" formControlName="jobdescription" placeholder="Job Description">
                        <div *ngIf="eventForm.get('jobdescription').touched && eventForm.get('jobdescription').hasError('required')" class="error-message">
                            Job Description is required.
                          </div>
                    </label>
                    <label><input type="text" class="event-input" formControlName="organisation" placeholder="Organization">
                        <div *ngIf="eventForm.get('organisation').touched && eventForm.get('organisation').hasError('required')" class="error-message">
                            Organization is required.
                          </div>
                    </label>
                    <label><input type="number" maxlength="10" class="event-input" formControlName="phone1" placeholder="Phone Number">
                        <div *ngIf="eventForm.get('phone1').touched && eventForm.get('phone1').hasError('required')" class="error-message">
                            Phone is required.
                          </div>
                          <div *ngIf="eventForm.get('phone1').touched && eventForm.get('phone1').hasError('invalidPhoneNumber') && !eventForm.get('phone1').hasError('required')" class="error-message">
                            Invalid phone number. Please enter 10 digits.
                          </div>
                    </label>
                    <label><input type="number" class="event-input" formControlName="phone2" placeholder="Phone Number 2">
                      
                    </label>
                    <label><input type="email" class="event-input" formControlName="email" placeholder="Email">
                        <div *ngIf="eventForm.get('email').touched && eventForm.get('email').hasError('required')" class="error-message">
                            Email is required.
                          </div>
                          <div *ngIf="eventForm.get('email').touched && eventForm.get('email').hasError('email')"
                          class="error-message">
                          Invalid email format.
                        </div>
                    </label>
                    <label for="agree" class="lab"><input type="checkbox" formControlName="tech" name="tech" >I agree to receive GoGIS newsletter and invitations to future events:</label>
                    <button class="ok-btn" type="submit" [disabled]="loading">
                        <span *ngIf="loading">
                          <mat-spinner diameter="20" color="accent"></mat-spinner>
                        </span>
                        <span *ngIf="!loading">OK</span>
                      </button>
                </form>
            </div>
        </div>

    </div>
</section>
